@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

h6 {
  font-family: 'Shadows Into Light', cursive;
}

* {
  transition: all 0.3s ease;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
}

.hero {
  position: relative;
  overflow: hidden;
  transition: background-image 1s ease-in-out;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 0; 
}

@layer base {
  .prose {
    max-width: 65ch;
    line-height: 1.75;
    color: #333;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    font-weight: bold;
    color: #1a202c;
  }

  .prose blockquote {
    border-left: 4px solid #2d3748;
    padding-left: 1.5rem;
    font-style: italic;
    color: #4a5568;
  }

  .prose ul,
  .prose ol {
    padding-left: 1.5rem;
  }

  .prose p {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
  }
}
